{% extends 'layouts/main_layout.twig' %}

{% block body %}
  <div class="row">
    <div class="col">
      <h3 class="column-header mb-4">Je me connecte</h3>      
      {% if on_hold_message is not defined %}
  
        {% if login_error_mesg is defined %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Oups ! Erreur de login {{ this.authentication.login_errors_count }} / {{ config_item('max_allowed_attempts') }}: </strong>
            Nom d'utilisateur/email et/ou mot de passe incorrect.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
  
        {% if this.input.get(AUTH_LOGOUT_PARAM) %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hop !</strong>
            Vous avez bien été déconnecté. Au plaisir de vous revoir parmi nous.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
  
        {{ form_open( LOGIN_PAGE, {'class': 'form'} )|raw }}
          <div class="row justify-content-center">
            <div class="col-12 form-group">
              <label for="login_string" class="form_label">Nom d'utilisateur/Email</label>
              <input type="text" name="login_string" id="login_string" class="form-control" autocomplete="off" maxlength="255" />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 form-group">
              <label for="login_pass" class="form_label">Mot-de-passe</label>
              <input type="password" name="login_pass" id="login_pass" class="form-control password" {% if config_item('max_chars_for_password') > 0 %} maxlength="{{ config_item('max_chars_for_password') }}" {% endif %} autocomplete="off" />
            </div>
          </div>
  
          {% if config_item('allow_remember_me') %}
            <div class="row">
              <div class="form-group col-12">
                <label for="remember_me" class="form_label">
                  <input type="checkbox" id="remember_me" name="remember_me" value="yes" />
                  Se souvenir de moi
                </label>
              </div>
            </div>
          {% endif %}
          <div class="row">
            <div class="form-group col">
              <input type="submit" name="submit" value="Login" id="submit_button" class="btn btn-primary form-control" />
            </div>
            <div class="form-group col">
              <a href="/user/recover-password" class="btn btn-default form-control">
                Mot-de-passe perdu ?
              </a>
            </div>
          </div>
        </form>
      {% endif %}
    </div>
    <div class="col vertical-divider">
      <h3 class="column-header mb-4">Je m'inscris</h3>
      {{ form_open( "/user/register", {class: "form"} )|raw }}
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="username-input">Nom d'utilisateur *</label>
              <input class="form-control" type="text" id="email-input" required placeholder="Superman" />
            </div>
          </div>
          <div class="col-8">
            <div class="form-group">
              <label for="email-input">Adresse email *</label>
              <input class="form-control" type="email" id="email-input" required placeholder="xxx@example.com" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="password-input">Mot-de-passe *</label>
              <input class="form-control" name="password" id="password-input" required placeholder="********"/>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="password-confirm-input">Confirmer le mot-de-passe *</label>
              <input class="form-control" name="password-confirm" id="password-confirm-input" required placeholder="********"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <input class="btn btn-primary form-control" type="submit" value="Créer mon compte" />
            </div>
          </div>
        </div>
      </form>
    </div>    
  </div>
{% endblock %}
