{% extends 'layouts/main_layout.twig' %}

{% block body %}
  <h1>{{ category.label }}</h1>
  <p>{{ category.description }}</p>
  <div class="list-group">
    {% for challenge in category.challenges %}
      <a class="list-group-item" href="/challenges/{{ category.slug }}/{{ challenge.slug }}">{{ challenge.label }}</a>
    {% endfor %}
  </div>
{% endblock %}
